html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.hero {
  margin: 1em;
  margin-top: -1em;
  width: 33%;
  padding-top: .5em;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

h2 {
  margin: 0;
  line-height: 1.2;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-size: 1.5rem;
  margin: 0;
  padding-top: .5em;
  padding-bottom: 1em;
}

.banner-content {
  display: flex;
  position: absolute;
  justify-content: center;
  max-width: 45em;
  width: 100%;
  padding-top: 2em;
  align-items: flex-start;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  color: #fff;
  background-color: #333;
  display: inline-block;
  border-color: #333;
  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  padding: .5em .75em;
  margin-top: -.5rem;
}

.btn-big {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.words {
  width: 57%;
  margin: 1em;
  margin-top: -1em;
}
